@model BookVM
@{
    ViewData["Title"] = "Brands";
}

<main>
    <section id="navbars" class="">
        <nav class="navbar d-flex " style="background-color: transparent;">
            <div class="container">
                <div class="row w-100">
                    <div class="pages col-lg-8">
                        <ul class="d-flex justify-content-around">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="controll">
                                <a asp-controller="Book" asp-action="Index" class="category">
                                    <span>Categories</span><span class="ms-3">
                                        <i class="fa-solid fa-sort-down"></i>
                                    </span>

                                </a>
                            </li>
                            <li><a asp-controller="Brand" asp-action="Brands">Brands</a></li>
                            <li><a asp-controller="Best" asp-action="Best">Best Sellers</a></li>
                            <li class="page-controller">
                                <a asp-controller="About" asp-action="About"><span>Pages</span><span class="ms-3"><i class="fa-solid fa-sort-down"></i></span></a>
                                <div class="site-pages">
                                    <ul>
                                        <li><a asp-controller="About" asp-action="About">About Us</a></li>
                                        <li><a asp-controller="Blog" asp-action="Blogs">Blog</a></li>
                                        <li><a asp-controller="FAQ" asp-action="FAQ">FAQ's</a></li>
                                        <li><a asp-controller="Contact" asp-action="Contact">Contact us</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <button class="navbar-toggler bars" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                    <span>Menu</span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" style="color: black;" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="fluid-controll">
                                <a asp-controller="Book" asp-action="Index" class="category"
                                   style="color: black;">
                                    <span>Genres</span><span class="ms-3">
                                        <i class="fa-solid fa-sort-down"></i>
                                    </span>

                                </a>
                            </li>
                            <li><a asp-controller="Brand" asp-action="Brands" style="color: black;">Brands</a></li>
                            <li><a asp-controller="Best" asp-action="Best" style="color: black;">Best Sellers</a></li>
                            <li>
                                <a href="" style="color: black;">
                                    <span>Pages</span><span class="ms-3">
                                        <i class="fa-solid fa-sort-down"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="color: black;" href="#"
                                   id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                    <li><a class="dropdown-item" style="color: black;" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" style="color: black;" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" style="color: black;" href="#">
                                            Something else
                                            here
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" style="color: black;"
                                    type="submit">
                                Search
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <section id="intro" style="background-image: url(/assets/Image/Bg-Image/about-10.webp);">
        <div class="container">
            <div class="write  d-flex justify-content-center align-items-center">
                <div class="texts">
                    <h4 class="text-center">All Collections</h4>
                </div>
            </div>
        </div>
    </section>
    <section id="collection-section" class="py-5">
        <div class="container">
            <div class="row">
                @foreach (Category category in Model.Categories)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <div class="info-book">
                            <div class="images">
                                <img src="/assets/Image/Category Book/@category.Image" style="height: 600px;">
                            </div>
                            <div class="detail mt-3 text-center">
                                <a asp-controller="Book" asp-action="Index" asp-route-category="@category.Name"><strong>@category.Name</strong></a> <br>
                                <p>
                                    @if (category.Books != null)
                                    {
                                        <small>
                                            @category.Books.Count items
                                        </small>
                                    }
                                    else
                                    {
                                        <small>
                                            0 items
                                        </small>
                                    }
                                </p>
                                <a asp-controller="Book" asp-action="Index" asp-route-category="@category.Name" class="btn btn-danger but text-light">Shop Now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <script src="~/assets/Js/search.js"></script>
}