@model RegisterVM
@{
    ViewData["Title"] = "Register";
}
<!-- Section: Design Block -->
<section id="intro">
    <div class="container">
        <div class="write  d-flex justify-content-center align-items-center">
            <div class="texts">
                <h4 class="text-center">Account</h4>
                <ul class="d-flex justify-content-around">
                    <li><a href="Collections.html">All</a></li>
                    <li><a href="">Product</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: white;">
        <div class="container">
            <div class="row gx-lg-5 align-items-center justify-content-center">
              <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                <div class="col-lg-6 mb-5 mb-lg-0" style="background-color: whitesmoke;">
                    <div class="card" style="border: none">
                        <div class="card-body py-5 px-md-5" style="background-color: whitesmoke;">
                            <form method="post">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input asp-for="FirstName" id="form3Example1" class="form-control" />
                                            <span class="form-label" asp-validation-for="FirstName">First name</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input asp-for="LastName" id="form3Example2" class="form-control" />
                                            <span class="form-label" asp-validation-for="LastName">Last name</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="Username" id="form3Example3" class="form-control" />
                                    <span class="form-label" asp-validation-for="Username">Username</span>
                                </div>
                                <div class="form-outline mb-4">
                                    <input asp-for="Email" id="form3Example3" class="form-control" />
                                    <span class="form-label" asp-validation-for="Email">Email address</span>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="Password" id="form3Example4" class="form-control" />
                                    <span class="form-label" asp-validation-for="Password">Password</span>
                                </div>
                                <div class="form-outline mb-4">
                                    <input asp-for="ConfirmPassword" id="form3Example4" class="form-control" />
                                    <span class="form-label" asp-validation-for="ConfirmPassword">Confirm Password</span>
                                </div>

                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-center mb-4">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                    <label class="form-check-label" for="form2Example33">
                                        Subscribe to our newsletter
                                    </label>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Register
                                </button>

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>or sign up with:</p>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-google"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-twitter"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-github"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->