@model Team
@{
    ViewData["Title"] = "Create";
}

<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
<form method="post" enctype="multipart/form-data">
    <div>
        <label class="mb-3">Employee name:</label><br />
        <input asp-for="FullName" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="FullName"></span>
    </div>
    <div>
        <label class="mb-3">Employee profession: </label><br />
        <select class="form-control" asp-for="ProfessionId" asp-items="@(new SelectList(ViewBag.Profession,"Id","Name"))"></select><br />
        <span class="text-danger" asp-validation-for="Profession"></span>
    </div>
    <div>
        <label class="mb-3">Employee SocialMedia(-s):</label><br />
        <select class="form-control" asp-for="SocialMediaIds" asp-items="@(new SelectList(ViewBag.SocialMedias,"Id","Name"))"></select>
        <span class="text-danger" asp-validation-for="SocialMediaIds"></span>
    </div>
    <div>
        <label class="mb-3">Employee image:</label><br />
        <input asp-for="Photo" class="form-control" accept="image/*" /><br />
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Create employee</button>
    </div>
</form>

