@model HomeVM

@foreach (Book book in Model.Books)
{
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="info-book">
            <div class="images">
                <div class="more-icon">
                    <div class="more">
                        <a href=""><i class="fa-solid fa-link"></i></a>
                    </div>
                    <div class="more">
                        <a href=""><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="more">
                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                </div>
                <a href="Product.html"><img src="assets/Image/Library/@book.BookImages.FirstOrDefault(i => i.IsMain == true)?.ImagePath"></a>
            </div>
            <div class="detail mt-3">
                <p>
                    @foreach (BookAuthor author in Model.BookAuthors.Where(a => a.BookId == book.Id))
                    {
                        @author.Author.FullName.ToString();
                    }
                </p>
                <strong>@book.Name</strong>
                <p>
                    @if (book.DiscountId != null)
                    {
                        <span>$@(book.Price - ((book.Price * book.Discount?.DiscountPercent) / 100))</span>
                        <span class="ms-2"><del>$@book.Price</del></span>
                    }
                    else
                    {
                        <span>$@book.Price</span>
                    }

                </p>
            </div>
        </div>
    </div>
}