@model ContactForm
@{
    ViewData["Title"] = "Contact";
}

<main>
    @if (TempData["Success"] != null)
    {
        <div style="z-index: 1000; position: absolute; top: 50px; right: 20px; " class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex justify-content-end">
                <div class="toast-body">
                    Your message send to admin!
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }
    <section id="navbars" class="">
        <nav class="navbar d-flex " style="background-color: transparent;">
            <div class="container">
                <div class="row w-100">
                    <div class="pages col-lg-8">
                        <ul class="d-flex justify-content-around">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="controll">
                                <a asp-controller="Book" asp-action="Index" class="category">
                                    <span>Categories</span><span class="ms-3">
                                        <i class="fa-solid fa-sort-down"></i>
                                    </span>
                                </a>
                            </li>
                            <li><a asp-controller="Brand" asp-action="Brands">Brands</a></li>
                            <li><a asp-controller="Best" asp-action="Best">Best Sellers</a></li>
                            <li class="page-controller">
                                <a asp-controller="About" asp-action="About">
                                    <span>Pages</span><span class="ms-3">
                                        <i class="fa-solid fa-sort-down"></i>
                                    </span>
                                </a>
                                <div class="site-pages" style="z-index: 100;">
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Index">About Us</a></li>
                                        <li><a asp-controller="Blog" asp-action="Blogs">Blog</a></li>
                                        <li><a asp-controller="FAQ" asp-action="FAQ">FAQ's</a></li>
                                        <li><a asp-controller="Contact" asp-action="Contact">Contact us</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="navbar-toggler bars" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                    <span>Menu</span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" style="color: black;" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="fluid-controll">
                                <a asp-controller="Book" asp-action="Index" class="category"
                                   style="color: black;">
                                    <span>Categories</span><span class="ms-3">
                                        <i class="fa-solid fa-sort-down"></i>
                                    </span>

                                </a>
                            </li>
                            <li><a asp-controller="Brand" asp-action="Brands" style="color: black;">Brands</a></li>
                            <li><a asp-controller="Best" asp-action="Best" style="color: black;">Best Sellers</a></li>
                            <li>
                                <a href="" style="color: black;">
                                    <span>Pages</span><span class="ms-3">
                                        <i class="fa-solid fa-sort-down"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="color: black;" href="#"
                                   id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                    <li><a class="dropdown-item" style="color: black;" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" style="color: black;" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" style="color: black;" href="#">
                                            Something else
                                            here
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" style="color: black;"
                                    type="submit">
                                Search
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <section id="intro" style="background-image: url(/assets/Image/Bg-Image/about-10.webp);">
        <div class="container">
            <div class="write  d-flex justify-content-center align-items-center">
                <div class="texts">
                    <h4 class="text-center text-dark">Product</h4>
                    <ul class="d-flex justify-content-around">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-section" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="infos">
                        <div class="phone-box contact-box">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <h6 class="mt-4">Phone</h6>
                        <small class="mt-3"><strong>Toll-Free:</strong>0000 - 123 - 456789</small> <br>
                        <small><strong>Fax:</strong>0000 - 123 - 456789</small>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="infos">
                        <div class="email-box contact-box">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <h6 class="mt-4">Email</h6>
                        <small class="mt-3">mail@example.com</small> <br>
                        <small>support@example.com</small>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="infos">
                        <div class="location-box contact-box">
                            <i class="fa-solid fa-location-arrow"></i>
                        </div>
                        <h6 class="mt-4">Address</h6>
                        <small>No: 58 A, East Madison Street</small> <br>
                        <small>Baltimore, MD, USA 4508</small>
                    </div>
                </div>
                <div class="col-lg-12 row mt-5 send-message">
                    <div class="mb-5 col-lg-6 frame">
                        <iframe style="height: 400px"
                                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319"
                                width="100%" height="200" frameborder="0" style="border:0"></iframe>
                    </div>
                    <div class="col-lg-6">
                        <h3>Contact Form</h3>
                        <form method="post" class="forms">
                            <input asp-for="FullName" placeholder="Name"> <br>
                            <span class="text text-danger" asp-validation-for="FullName"></span><br />
                            <input asp-for="Email" placeholder="Email"> <br>
                            <span class="text text-danger" asp-validation-for="Email"></span> <br />
                            <input asp-for="Phone" placeholder="Phone"> <br>
                            <span class="text text-danger" asp-validation-for="Phone"></span> <br />
                            <textarea cols="30" rows="6" asp-for="Message" placeholder="Message"></textarea>
                            <span class="text text-danger" asp-validation-for="Message"></span>
                            <button class="btn btn-danger mt-3 sent" type="submit">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <script src="~/assets/Js/search.js"></script>
    <script>
        $(document).ready(function () {
            $(".toast").toast('show');
        });
    </script>
}
